# while loop

In [3]:
answer = 5
guess = 0

while guess != answer:
    guess = int(input('please make guess during 1~6.: '))
    if guess > answer:
        print('bigger than answer')
    elif guess < answer:
        print('smaller than answer')
    else:
        print('bingo')

please make guess during 1~6.: 5
bingo

In [1]:
answer = 3
guess = 0

while True:
    guess = int(input('please make guess during 1~6.: '))
    if guess > answer:
        print('bigger than answer')
    elif guess < answer:
        print('smaller than answer')
    else:
        print('bingo')
        break

please make guess during 1~6.: 3
bingo

In [9]:
i = 1
while i < 6:
    print(i)
    i += 1 # i = i + 1

1
2
3
4
5

In [11]:
i = 0
num_sum = 0
while i <= 100:
    i += 1
    num_sum += i
    print('num_sum: {}, i: {}'.format(num_sum, i))
print('1+2+......+100 = {}'.format(num_sum))

num_sum: 1, i: 1
num_sum: 3, i: 2
num_sum: 6, i: 3
num_sum: 10, i: 4
num_sum: 15, i: 5
num_sum: 21, i: 6
num_sum: 28, i: 7
num_sum: 36, i: 8
num_sum: 45, i: 9
num_sum: 55, i: 10
num_sum: 66, i: 11
num_sum: 78, i: 12
num_sum: 91, i: 13
num_sum: 105, i: 14
num_sum: 120, i: 15
num_sum: 136, i: 16
num_sum: 153, i: 17
num_sum: 171, i: 18
num_sum: 190, i: 19
num_sum: 210, i: 20
num_sum: 231, i: 21
num_sum: 253, i: 22
num_sum: 276, i: 23
num_sum: 300, i: 24
num_sum: 325, i: 25
num_sum: 351, i: 26
num_sum: 378, i: 27
num_sum: 406, i: 28
num_sum: 435, i: 29
num_sum: 465, i: 30
num_sum: 496, i: 31
num_sum: 528, i: 32
num_sum: 561, i: 33
num_sum: 595, i: 34
num_sum: 630, i: 35
num_sum: 666, i: 36
num_sum: 703, i: 37
num_sum: 741, i: 38
num_sum: 780, i: 39
num_sum: 820, i: 40
num_sum: 861, i: 41
num_sum: 903, i: 42
num_sum: 946, i: 43
num_sum: 990, i: 44
num_sum: 1035, i: 45
num_sum: 1081, i: 46
num_sum: 1128, i: 47
num_sum: 1176, i: 48
num_sum: 1225, i: 49
num_sum: 1275, i: 50
num_sum: 1326, i: 51
num_sum: 1378, i: 52
num_sum: 1431, i: 53
num_sum: 1485, i: 54
num_sum: 1540, i: 55
num_sum: 1596, i: 56
num_sum: 1653, i: 57
num_sum: 1711, i: 58
num_sum: 1770, i: 59
num_sum: 1830, i: 60
num_sum: 1891, i: 61
num_sum: 1953, i: 62
num_sum: 2016, i: 63
num_sum: 2080, i: 64
num_sum: 2145, i: 65
num_sum: 2211, i: 66
num_sum: 2278, i: 67
num_sum: 2346, i: 68
num_sum: 2415, i: 69
num_sum: 2485, i: 70
num_sum: 2556, i: 71
num_sum: 2628, i: 72
num_sum: 2701, i: 73
num_sum: 2775, i: 74
num_sum: 2850, i: 75
num_sum: 2926, i: 76
num_sum: 3003, i: 77
num_sum: 3081, i: 78
num_sum: 3160, i: 79
num_sum: 3240, i: 80
num_sum: 3321, i: 81
num_sum: 3403, i: 82
num_sum: 3486, i: 83
num_sum: 3570, i: 84
num_sum: 3655, i: 85
num_sum: 3741, i: 86
num_sum: 3828, i: 87
num_sum: 3916, i: 88
num_sum: 4005, i: 89
num_sum: 4095, i: 90
num_sum: 4186, i: 91
num_sum: 4278, i: 92
num_sum: 4371, i: 93
num_sum: 4465, i: 94
num_sum: 4560, i: 95
num_sum: 4656, i: 96
num_sum: 4753, i: 97
num_sum: 4851, i: 98
num_sum: 4950, i: 99
num_sum: 5050, i: 100
num_sum: 5151, i: 101
1+2+......+100 = 5151

In [32]:
i = 0
num_sum = 0
while i <= 100:
    if i % 3 == 1:
        i += 1
        continue
    num_sum += i
    print('num_sum: {}, i: {}'.format(num_sum, i))
    i += 1

print('2+4+6......+100 = {}'.format(num_sum))

num_sum: 0, i: 0
num_sum: 2, i: 2
num_sum: 5, i: 3
num_sum: 10, i: 5
num_sum: 16, i: 6
num_sum: 24, i: 8
num_sum: 33, i: 9
num_sum: 44, i: 11
num_sum: 56, i: 12
num_sum: 70, i: 14
num_sum: 85, i: 15
num_sum: 102, i: 17
num_sum: 120, i: 18
num_sum: 140, i: 20
num_sum: 161, i: 21
num_sum: 184, i: 23
num_sum: 208, i: 24
num_sum: 234, i: 26
num_sum: 261, i: 27
num_sum: 290, i: 29
num_sum: 320, i: 30
num_sum: 352, i: 32
num_sum: 385, i: 33
num_sum: 420, i: 35
num_sum: 456, i: 36
num_sum: 494, i: 38
num_sum: 533, i: 39
num_sum: 574, i: 41
num_sum: 616, i: 42
num_sum: 660, i: 44
num_sum: 705, i: 45
num_sum: 752, i: 47
num_sum: 800, i: 48
num_sum: 850, i: 50
num_sum: 901, i: 51
num_sum: 954, i: 53
num_sum: 1008, i: 54
num_sum: 1064, i: 56
num_sum: 1121, i: 57
num_sum: 1180, i: 59
num_sum: 1240, i: 60
num_sum: 1302, i: 62
num_sum: 1365, i: 63
num_sum: 1430, i: 65
num_sum: 1496, i: 66
num_sum: 1564, i: 68
num_sum: 1633, i: 69
num_sum: 1704, i: 71
num_sum: 1776, i: 72
num_sum: 1850, i: 74
num_sum: 1925, i: 75
num_sum: 2002, i: 77
num_sum: 2080, i: 78
num_sum: 2160, i: 80
num_sum: 2241, i: 81
num_sum: 2324, i: 83
num_sum: 2408, i: 84
num_sum: 2494, i: 86
num_sum: 2581, i: 87
num_sum: 2670, i: 89
num_sum: 2760, i: 90
num_sum: 2852, i: 92
num_sum: 2945, i: 93
num_sum: 3040, i: 95
num_sum: 3136, i: 96
num_sum: 3234, i: 98
num_sum: 3333, i: 99
2+4+6......+100 = 3333

In [34]:
i = 0
num_sum = 0
while True:
    if i > 100:
        break
    num_sum = num_sum + i
    print('num_sum: {}, i: {}'.format(num_sum, i))
    i = i + 1
print('1+2+......+100 = {}'.format(num_sum))

num_sum: 0, i: 0
num_sum: 1, i: 1
num_sum: 3, i: 2
num_sum: 6, i: 3
num_sum: 10, i: 4
num_sum: 15, i: 5
num_sum: 21, i: 6
num_sum: 28, i: 7
num_sum: 36, i: 8
num_sum: 45, i: 9
num_sum: 55, i: 10
num_sum: 66, i: 11
num_sum: 78, i: 12
num_sum: 91, i: 13
num_sum: 105, i: 14
num_sum: 120, i: 15
num_sum: 136, i: 16
num_sum: 153, i: 17
num_sum: 171, i: 18
num_sum: 190, i: 19
num_sum: 210, i: 20
num_sum: 231, i: 21
num_sum: 253, i: 22
num_sum: 276, i: 23
num_sum: 300, i: 24
num_sum: 325, i: 25
num_sum: 351, i: 26
num_sum: 378, i: 27
num_sum: 406, i: 28
num_sum: 435, i: 29
num_sum: 465, i: 30
num_sum: 496, i: 31
num_sum: 528, i: 32
num_sum: 561, i: 33
num_sum: 595, i: 34
num_sum: 630, i: 35
num_sum: 666, i: 36
num_sum: 703, i: 37
num_sum: 741, i: 38
num_sum: 780, i: 39
num_sum: 820, i: 40
num_sum: 861, i: 41
num_sum: 903, i: 42
num_sum: 946, i: 43
num_sum: 990, i: 44
num_sum: 1035, i: 45
num_sum: 1081, i: 46
num_sum: 1128, i: 47
num_sum: 1176, i: 48
num_sum: 1225, i: 49
num_sum: 1275, i: 50
num_sum: 1326, i: 51
num_sum: 1378, i: 52
num_sum: 1431, i: 53
num_sum: 1485, i: 54
num_sum: 1540, i: 55
num_sum: 1596, i: 56
num_sum: 1653, i: 57
num_sum: 1711, i: 58
num_sum: 1770, i: 59
num_sum: 1830, i: 60
num_sum: 1891, i: 61
num_sum: 1953, i: 62
num_sum: 2016, i: 63
num_sum: 2080, i: 64
num_sum: 2145, i: 65
num_sum: 2211, i: 66
num_sum: 2278, i: 67
num_sum: 2346, i: 68
num_sum: 2415, i: 69
num_sum: 2485, i: 70
num_sum: 2556, i: 71
num_sum: 2628, i: 72
num_sum: 2701, i: 73
num_sum: 2775, i: 74
num_sum: 2850, i: 75
num_sum: 2926, i: 76
num_sum: 3003, i: 77
num_sum: 3081, i: 78
num_sum: 3160, i: 79
num_sum: 3240, i: 80
num_sum: 3321, i: 81
num_sum: 3403, i: 82
num_sum: 3486, i: 83
num_sum: 3570, i: 84
num_sum: 3655, i: 85
num_sum: 3741, i: 86
num_sum: 3828, i: 87
num_sum: 3916, i: 88
num_sum: 4005, i: 89
num_sum: 4095, i: 90
num_sum: 4186, i: 91
num_sum: 4278, i: 92
num_sum: 4371, i: 93
num_sum: 4465, i: 94
num_sum: 4560, i: 95
num_sum: 4656, i: 96
num_sum: 4753, i: 97
num_sum: 4851, i: 98
num_sum: 4950, i: 99
num_sum: 5050, i: 100
1+2+......+100 = 5050

# for loop

In [36]:
for i in range(100):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [37]:
for i in range(5, 10):
    print(i, end=' ')

5 6 7 8 9

In [66]:
for i in range(1, 10, 3):
    print(i, end=' ')

1 4 7

In [70]:
my_list = [10, -20, 15]
for i in my_list:
    print(i, end=' ')

10 -20 15

In [45]:
my_list = [10, -20, 15]
for i in range(len(my_list)):
    print(i)
    print(my_list[i])

0
10
1
-20
2
15

In [48]:
my_list = [10, -20, 15]
for index, i in enumerate(my_list):
    print(index,i)

0 10
1 -20
2 15

In [49]:
my_tuple = (10, -20, 15)
for i in my_tuple:
    print(i, end=' ')

10 -20 15

In [50]:
my_string = 'test123'
for i in my_string:
    print(i, end=' ')

t e s t 1 2 3

In [51]:
my_dict = {'isaac':50, 'andy':80, 'judy':20}
for i in my_dict:
    print(i)

isaac
andy
judy

In [52]:
my_dict = {'isaac':50, 'andy':80, 'judy':20}
for i in my_dict.values():
    print(i)

50
80
20

# nested loop

In [55]:
n=5
for i in range(n):
    for j in range(n+1):
        print('i: {}, j: {}'.format(i,j))
        print('*', end='')
    print('')

i: 0, j: 0
*i: 0, j: 1
*i: 0, j: 2
*i: 0, j: 3
*i: 0, j: 4
*i: 0, j: 5
*
i: 1, j: 0
*i: 1, j: 1
*i: 1, j: 2
*i: 1, j: 3
*i: 1, j: 4
*i: 1, j: 5
*
i: 2, j: 0
*i: 2, j: 1
*i: 2, j: 2
*i: 2, j: 3
*i: 2, j: 4
*i: 2, j: 5
*
i: 3, j: 0
*i: 3, j: 1
*i: 3, j: 2
*i: 3, j: 3
*i: 3, j: 4
*i: 3, j: 5
*
i: 4, j: 0
*i: 4, j: 1
*i: 4, j: 2
*i: 4, j: 3
*i: 4, j: 4
*i: 4, j: 5
*

In [ ]:
n=5
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

In [ ]:

for i in range(5,0,-1):
    print(i)

In [ ]:
for i in range(1,10,2):
    print(i)

# 問題1: 輸入一個數字N，如果N是奇數，請計算1* 3*......* N，如果N是偶數，請計算2* 4*......* N

In [60]:
N = int(input('please input a number N: '))

if N % 2 == 1:
    result = 1
    for i in range(1, N+2, 2):
        result = result * i
else:
    result = 1
    for i in range(2, N+2, 2):
        result = result * i

print(result)

please input a number N: 5
15

In [ ]:
6